body{
    background-color:rgb(231, 231, 231);
}
.div1{
    margin-left:298px;
    background-color:white;
    width: 240px;
    height: 260px;
    margin-top:20px;
    border-radius:3%;
}
.input1{
    height:25px;
    width:200px;
    margin-left:15px;
    margin-right:5px;
    margin-top:20px;
    border-radius:3px;
    border-top:1.7px solid black;
    border-left:1.7px solid black;
}
.input2{
    height:25px;
    width:200px;
    margin-left:15px;
    margin-right:5px;
    margin-top:7px;
    border-radius:3px;
    border-top:1.7px solid black;
    border-left:1.7px solid black;
}/*
.input3{ 
    margin-top:15px;
    background-color:blue;
    height:30px;
    width:205px;
    margin-left:15px;
    border-radius:3px;
    position:relative;
    
}*/
.input3{
    display:flex;
    justify-content:center;
}
.input3>a{
    margin-top:10px;
    color:white;
    text-decoration:none;
   background-color:brown;
   width:80%;
   display:block;
   padding:10px;
   text-align:center;
   
}
h2{
    text-align:center;
    color:blue;
}
